.army-container {
  display: grid;
  position: relative;
  width: 100%;
}

.army-menu-cont {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background-color: #C4B085;
  font-size: 13px;
}

.army-main-menu{
left: -24.5rem;
  position: relative;
}

.army-home-menu{
  height: 1.5rem;
  width: 1.5rem;
  margin: 2px;
  margin-left: 1px;
}

.army-menu {
  position: relative;
  padding: 10px;
  cursor: pointer;
  transition: border-bottom 0.3s ease;
  color:  #6E6249;
  font-family: "Gill Sans", sans-serif;
  font-weight: 600;
}

.army-menu a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color:  white;
  font-family: "Gill Sans", sans-serif;
  font-weight: 600;
}

.army-menu:hover {
  border-bottom: 2px solid rgb(0, 55, 79);
}

.army-menu p {
  color: #504735;
}

.army-dropdown-content {
  text-decoration: none;
  width: 10rem;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border-radius: 0px 0px 2px 2px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 5px;
  z-index: 1;
  display: none;
}

.army-dropdown-content a:link,
a:visited,
a:active {
  font-family: "Gill Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  color:  #504735;
}

.army-dropdown-content a:hover {
  padding: 5px 5px;
  background-color: #504735;
  color: white;
}

.army-menu:hover .army-dropdown-content {
  display: grid;
  grid-gap: 1rem;
}

.army-menu p {
  margin: 0;
}